@using KursProject.Models.ViewModels
@{
    ViewData["Title"] = "Home Page";
}
@model ScanConfigurationViewModel
<head>
    <meta charset="utf-8" />
    <title>Курсовой проект</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    @*стантартная форма ввода параметров сети. Атрибуты в теге form указвыают на "адрес" метода, реализующего сканирование*@  
<form asp-controller="Home" asp-method="post" asp-action="GetScanResult">
    <div>
        <label asp-for="ipAddress"> Цель сканирования:</label>
        <input asp-for="ipAddress" placeholder="45.33.49.119-125">
    </div>
    <br>
    <p>Опционально:</p>
    <div>
        <label asp-for="Ports">Список портов:</label>
        <input asp-for="Ports" value="" placeholder="443 80 1433">
    </div>

    <div>
        <label asp-for="TCP">TCP:</label>
        <input asp-for="TCP" type="checkbox">
    </div>
    <label>Тип TCP сканирования:</label>
    <select>
        <option value="1">SYN</option>
        <option value="2">XMAS</option>
        <option value="3">FIN</option>
    </select>
    <div>
        <label asp-for="UDP">UDP:</label>
        <input asp-for="UDP" type="checkbox">
    </div>
    <div class="col-12 BOTTOMSI">
        <button type="submit">Сканировать</button>
    </div>
</form>
</body>