@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    String ServiceInfo = "";
}
@model Dictionary<String,Dictionary<String, Dictionary<String, String>>>
<head>

    <meta charset="utf-8" />
    <title>@ViewData["Title"] - IdentityAut</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body style="width: 100%;">
    <div style="width: 100%;">
        <table class="table" style="width: 100%;">
            <thead>
                <tr>
                    <th scope="col" style="text-align: left;">Хост</th>
                    <th scope="col" style="text-align: center;">Сервисы</th>
                    <th scope="col" style="text-align: center;">Уязвимости</th>
                </tr>
            </thead>
            <tbody>
            <script>
                    let version;
                    let vulns;
                    let resp;
                    let vulnBlock;
                    let vulnsCollapse;

            </script>
                @foreach (String Host in Model.Keys)
                {
                    @foreach (String Port in Model[Host].Keys)
                    {

                        <tr>

                            <td style="text-align: center;">@Host</td>
                            @{
                                ServiceInfo += "Порт: " + Port + "<br>";

                                foreach (String Service in Model[Host][Port].Keys)
                                {
                                    ServiceInfo += Service + ": " + Model[Host][Port][Service] + "<br>";
                                }
                            }
                            <td style="text-align: center;">@Html.Raw(ServiceInfo)</td>
                            @{
                                ServiceInfo = "";
                            }

                            <td>

                                <div class="row">
                                    <button class="col-12 btn btn-danger" id="bottom-@Model[Host][Port].GetHashCode()">Получить уязвимости</button>
                                </div>


                                <div class="collapse" id="vulnsVlock-@Model[Host][Port].GetHashCode()" aria-expanded="false">
                                    <div id="vulnsVlockInner-@Model[Host][Port].GetHashCode()">
                                    </div>
                                </div>
                                <div id="port-version-@Model[Host][Port].GetHashCode()" data-version="@Model[Host][Port]["Version"]"></div>

                                <script>
                                    document.getElementById('bottom-@Model[Host][Port].GetHashCode()')
                                        .addEventListener('click', collapse);

                                        async function collapse() {

                                        version = document.getElementById("port-version-@Model[Host][Port].GetHashCode()").getAttribute("data-version");

                                        vulns = await fetch('https://localhost:7165/Home/GetPortVulnerability', {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json'
                                            },
                                            body: JSON.stringify(version)
                                        });

                                        resp = await vulns.text();


                                        vulnBlock = document.getElementById('vulnsVlockInner-@Model[Host][Port].GetHashCode()');

                                        vulnBlock.innerHTML = resp;

                                        vulnsCollapse = new bootstrap.Collapse('#vulnsVlock-@Model[Host][Port].GetHashCode()', {
                                            toggle: true
                                        })
                                    }
                                </script>
                                @{
                                    ServiceInfo = "";
                                }
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</body>